body {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header main main"
        "header main main"
        "header footer footer"
    ;
    background-color: lightblue;
}

#header {
    grid-area: header;
    border: 2px solid green;
}

#main {
    grid-area: main;
    border: 2px solid orange;
}

#footer {
    grid-area: footer;
    border: 2px solid purple;
}

h1, h2, h3 {
    display: inline;
    margin: 0;
    padding: 0;
}

button {
    width: fit-content;
}

input[type="radio"] {
    display: inline-block;
}

form {
    grid-column-start: 2;
    /* grid-area: main; */
    display: none;
    gap: 5px;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    justify-self: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    z-index: 99999999;
    /* position: absolute; */
}

form * {
    grid-column-start: 2;
}

textarea {
    resize: vertical;
    max-width: 48vw;
}

#project {
    border: 2px solid red;
}

#container {
    grid-area: main;
    grid-column-start: 2;
    grid-row-start: 1;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    border: 2px solid blue;
}

.task {
    overflow: scroll;
    border: 1px solid black;
    padding: 10px;
    scrollbar-gutter: stable both-edges;
}